{% extends "layouts/text_page.html" %}

{% block title %}Отписаться от рассылки{% endblock %}

{% block select %}
    <h2>{% if success %}Успешно{% else %}Не удалось{% endif %}</h2>
    <p>Вы {% if success %}успешно отписались{% elif already_uns %}уже отписались{% else %}не можете отписаться{% endif %} от рассылки: &laquo;{{ mailing_name }}&raquo;.</p>
    {% if is_system %}<p>Это системная рассылка.</p>{% endif %}
{% endblock %}
