{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1; text-align:center;">Предлагаем ознакомиться с актуальными вакансиями,подходящими Вашему резюме</p>
{% endblock %}

{% block content-mail %}
    <table width="350" align="center">
        {% for vacancy in vacancies_list %}
        <tr>
            <td style="height: 55px; line-height: 29px; border-bottom:1px solid #ececec;"><a href="{{ domain }}{% url 'vacancy' vacancy.id %}" style="color:#66b5f1;"><b>{{ vacancy.position }}</b></a><br>{{ vacancy.company }}</td>
            <td style="border-bottom:1px solid #ececec; text-align:right;">{{ vacancy.get_salary }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
