{% extends 'layouts/base_layout.html' %}
{% block title-mail %}
    <p style="font-size:18px;">В связи с многочисленными жалобами пользователей сайта, статус вашего резюме "<a href="{{ domain }}{% url 'resume' user.resume.id %}">{{ user.resume.position }}</a>" принудительно изменен.</p>
{% endblock %}

{% block content-mail %}
    Посмотреть резюме можно по ссылке:<br/>
    <a href="{{ domain }}{% url 'resume' user.resume.id %}">{{ domain }}{% url 'resume' user.resume.id %}</a>
{% endblock %}
