{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1; text-align:center;">Ваше резюме опубликовано на сайте Foundjob.ru</p>
{% endblock %}

{% block content-mail %}
    Вы заполнили информацию о себе всего лишь на {{ user.resume.progress }}%, и работодателю будет сложно найти такое резюме.<br>
    Перейдите в личный кабинет по ссылке <a href="{{ domain }}{% url 'applicant-resume-item' %}">{{ domain }}{% url 'applicant-resume-item' %}</a> и дополните информацию о себе.
{% endblock %}
