{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1;">
        Ваше резюме успешно зарегистрировано на сайте Foundjob.ru.
    </p>
    <p style="padding: 10px 0px; background: #f4f8ff; font-size:18px;">
        Ваш логин: <span style="color:#66b5f1;">{{ address }}</span><br/>
        Ваш пароль: <span style="color:#66b5f1;">{{ password }}</span>
    </p>
    <p style="padding: 10px 0px; background: #f4f8ff;">
        Если вы не регистрировались на сайте Foundjob.ru, пожалуйста перейдите по ссылке <a href="{{ domain }}{% url 'unconfirm' private_key %}">{{ domain }}{% url 'unconfirm' private_key %}</a>
    </p>
{% endblock %}

{% block content-mail %}
    <span style="color:#66b5f1; font-size:18px;">Чтобы приступить к поиску работы:</span><br/>
    1.&nbsp;&nbsp;Заполните резюме в личном кабинете и загрузите фото<br/>
    2.&nbsp;&nbsp;Просматривайте интересующие Вас вакансии или сделайте автоподбор<br/>
    3.&nbsp;&nbsp;Отправляйте отклик на вакансии работодателям прямо на сайте
{% endblock %}

