{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
<p style="font-size:18px; color:#66b5f1;">Вы дали свое согласие на размещение резюме на новом, масштабном сайте Foundjob.ru.</p>
{% endblock %}

{% block content-mail %}
Для максимально быстрой и не затруднительной регистрации на Ваш email высылаем сообщение с логином и паролем для входа в личный кабинет.<br/>
Логин: {{ user.log.login }}<br/>
Пароль: {{ user.log.password }}<br/>
Ссылка для входа на сайт: <a href="{{ domain }}{% url 'login' %}">{{ domain }}{% url 'login' %}</a>
{% endblock %}
