{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px;">Ваше резюме "<a href="{{ domain }}{% url 'resume' response.resume.id %}">{{ response.resume.position }}</a>" на <a href="{{ domain }}{% url 'index' %}">Foundjob.ru</a> интересно работодателю!</p>
{% endblock %}

{% block content-mail %}
    Просмотреть все отклики на резюме можно по ссылке:<br/>
    <a href="{{ domain }}{% url 'applicant-responses' %}">{{ domain }}{% url 'applicant-responses' %}</a>
{% endblock %}
