{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px;">Работодатель дал ответ на отклик, который Вы сделали к вакансии <a href="{{ domain }}{% url 'vacancy' response.vacancy.id %}">{{ response.vacancy.position }}</a></p>
{% endblock %}

{% block content-mail %}
    Просмотреть все отклики Вы можете по ссылке ниже:<br/>
    <a href="{{ domain }}{% url 'employer-responses' %}">{{ domain }}{% url 'employer-responses' %}</a>.
{% endblock %}
