{% extends 'layouts/base_layout.html' %}
{% block title-mail %}
<p style="font-size:18px; color:#66b5f1;">Вы подписаны на рассылку вакансий компаний.</p>
{% endblock %}

{% block content-mail %}
На сайте Foundjob.ru добавлено {{ total }} вакансий.
{% for company in record.companies.all %}
    Компания "{{ company }}" разместила следующие вакансии:
    {% for vacancy in unknown_vacancies %}
        {% if vacancy.company == company%}
            <br/><a href="{{ domain }}/subv/?view={% url 'vacancy' vacancy.id %}">{{ vacancy }}</a>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
