{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px;">Вы обновляли свое резюме {{ user.resume.position }} на сайте Foundjob.ru более 7 дней назад</p>
{% endblock %}

{% block content-mail %}
    Резюме на нашем сайте сортируются по дате обновления.<br>
    Обновляя свое резюме, Вы попадаете на первую страницу всех резюме сайта.<br>
    Так Вы становитесь заметнее для работодателей и увеличиваете шансы найти работу.<br>
    Для того, чтобы обновить свое резюме прямо сейчас, перейдите по ссылке в<br>
    Личный кабинет и нажмите кнопку &laquo;Обновить&raquo;.
    <a href="{{ domain }}{% url 'applicant-resume-item' %}">Foundjob.ru</a>
{% endblock %}
