{% extends 'layouts/moderator_layout.html' %}
{% block title-mail %}Поступил новый запрос на регистрацию работодателя{% endblock %}

{% block content-mail %}
    <p>Организация: <span style="color:#66b5f1;">{{ employer.company.name|safe }}</span> {% if employer.company.is_agency %}(кадровое агентство){% endif %}</p>
    {% if not new_manager %}
        <p>ИНН: <span style="color:#66b5f1;">{{ employer.company.inn }}</span></p>
        <p>Сайт: <a href="{{ employer.company.website }}" style="color:#66b5f1;">{{ employer.company.website }}</a></p>
        <p>Имя: <span style="color:#66b5f1;">{{ employer.get_full_name }}</span></p>
        <p>Должность: <span style="color:#66b5f1;">{{ employer.position }}</span></p>
        <p>Телефон: <span style="color:#66b5f1;">{{ employer.phone }}</span></p>
        <p>E-mail: <a href="mailto:{{ employer.login }}" style="color:#66b5f1;">{{ employer.login }}</a></p>
    {% else %}
        <p>Новый сотрудник, который хочет добавиться в эту компанию:</p>
        <p>Имя: <span style="color:#66b5f1;">{{ employer.get_full_name }}</span></p>
        <p>{{ employer.login }}</p>
    {% endif %}
{% endblock %}

{% block admin-link %}
    Перейти в административный интерфейс:<br/>
    <a href="{{ domain }}{% url 'admin:employer_company_change' employer.company.id %}" style="color:#66b5f1;" target="_blank">{{ domain }}{% url 'admin:employer_company_change' employer.company.id %}</a>
{% endblock %}