{% extends 'layouts/moderator_layout.html' %}
{% block title-mail %}
На вакансию "{{ complaint.vacancy.position }}" поступило 5 или более жалоб.
{% endblock %}
{% block content-mail %}
Ссылка на вакансию:<br/>
<a href="{{ domain }}{% url 'vacancy' complaint.vacancy.id %}">{{ domain }}{% url 'vacancy' complaint.vacancy.id %}</a>
{% endblock %}
{% block admin-link %}
<p>Резюме в административном интерфейсе:<br/>
<a href="{{ domain }}{% url 'admin:employer_vacancy_change' complaint.vacancy.id %}">{{ domain }}{% url 'admin:employer_vacancy_change' complaint.vacancy.id %}</a></p>

<p>Жалоба в административном интерфейсе:<br/>
<a href="{{ domain }}{% url 'admin:complaints_vacancycomplaint_change' complaint.id %}">{{ domain }}{% url 'admin:complaints_vacancycomplaint_change' complaint.id %}</a></p>
{% endblock %}
