{% extends 'layouts/moderator_layout.html' %}
{% block title-mail %}
На резюме "{{ complaint.resume.position }}" поступила жалоба.
{% endblock %}
{% block content-mail %}
Ссылка на резюме:<br/>
<a href="{{ domain }}{% url 'resume' complaint.resume.id %}">{{ domain }}{% url 'resume' complaint.resume.id %}</a>
{% endblock %}
{% block admin-link %}
<p>Резюме в административном интерфейсе:<br/>
<a href="{{ domain }}{% url 'admin:applicant_resume_change' complaint.resume.id %}">{{ domain }}{% url 'admin:applicant_resume_change' complaint.resume.id %}</a></p>
<p>Жалоба в административном интерфейсе:<br/>
<a href="{{ domain }}{% url 'admin:complaints_resumecomplaint_change' complaint.id %}">{{ domain }}{% url 'admin:complaints_resumecomplaint_change' complaint.id %}</a></p>
{% endblock %}
