{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1; text-align:center;">Новая заявка на услугу {{ service.get_id_display }}</p>
{% endblock %}

{% block content-mail %}
    Информация о работодателе:<br>
    <ul>
        <li>ФИО: {{ employer.get_full_name }}</li>
        <li>Телефон: {{ employer.phone }}</li>
        <li>Компания: {{ employer.company.name }}</li>
    </ul>
{% endblock %}
