{% extends 'layouts/moderator_layout.html' %}
{% load static %}

{% block title-mail %}
Поступил новый отклик на вакансию "{{ vac.position }}" от незарегистрированного пользователя
{% endblock %}

{% block content-mail %}
    <p>Информация об откликнувшемся:</p>
    <p>Имя: <span style="color: #66b5f1;">{{ sender_name }}</span></p>
    <p>E-mail: <span style="color: #66b5f1;"><a href="mailto:{{ sender_email }}">{{ sender_email }}</a></span></p>
    <p>Телефон: <span style="color: #66b5f1;">{{ sender_phone }}</span></p>
    {% if sender_city %}<p>Судя по домену город: <span style="color: #66b5f1;">{{ sender_city }}</span></p>{% endif %}
    {% if sender_comment %}<p>Комментарий:<br/>{{ sender_comment }}</p>{% endif %}
{% endblock %}
{% block admin-link %}
Перейти в административный интерфейс:<br/>
<a href="{{ domain }}{% url 'admin:responses_anonymousresponsetovacancy_change' response.id %}" style="color:#66b5f1;" target="_blank">{{ domain }}{% url 'admin:responses_anonymousresponsetovacancy_change' response.id %}</a>
{% endblock %}
