{% extends 'layouts/moderator_layout.html' %}
{% block title-mail %}
Восстановлена вакансия из архива.
{% endblock %}
{% block content-mail %}
<p>Организация: <span style="color:#66b5f1;">{{ vacancy.company.name|safe }}</span> {% if vacancy.company.is_agency %}(кадровое агентство){% endif %}</p>
<p>Имя <span style="color:#66b5f1;">{{ vacancy.employer.get_full_name }}</span></p>
<p>Ссылка на вакансию:<br/>
<a href="{{ domain }}{% url 'vacancy' vacancy.id %}">{{ domain }}{% url 'vacancy' vacancy.id %}</a></p>
{% endblock %}
{% block admin-link %}
Перейти в административный интерфейс:<br/>
<a href="{{ domain }}{% url 'admin:employer_vacancy_change' vacancy.id %}">{{ domain }}{% url 'admin:employer_vacancy_change' vacancy.id %}</a>
{% endblock %}
