{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1; text-align:center;">Предлагаем ознакомиться с актуальными резюме, подходящими Вашей компании</p>
{% endblock %}

{% block content-mail %}
    <table width="350" align="center">
        {% for resume in resumes %}
        <tr>
            <td style="height: 55px; line-height: 29px; border-bottom:1px solid #ececec;"><a href="{{ domain }}{% url 'resume' resume.id %}" style="color:#66b5f1;"><b>{{ resume.position }}</b></a><br>Опыт работы: {{ resume.get_experience_display }}</td>
            <td style="border-bottom:1px solid #ececec; text-align:right;">{{ resume.get_salary }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
