{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px;">В вашу компанию добавлен новый сотрудник - {{ user.get_full_name }} ({{ user.login }})!<br/>
Данного сотрудника подтвердил пользователь {{ manager.get_full_name }} ({{ manager.login }})</p>
{% endblock %}

{% block content-mail %}
    Посмотреть полный список менеджеров компании можно на странице <a href="{{ domain }}{% url 'employer-manager-list' %}">{{ domain }}{% url 'employer-manager-list' %}</a>.
{% endblock %}
