{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
Спешим сообщить вам, что компания <span style="color:#66b5f1;">{{ user.company.name }}</span> успешно подтвердила вас в качестве своего сотрудника!
{% endblock %}

{% block content-mail %}
Напоминаем, что ваша почта <span style="color:#66b5f1;">{{ user.login }}</span>. Используя её в качестве логина вы можете зайти в Ваш личный кабинет.
{% endblock %}
