{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="padding: 10px 0px; font-size: 18px; background: #f4f8ff;">
        Ваша компания успешно зарегистрирована на <a href="{{ domain }}{% url 'index' %}" style="color: #66b5f1;">Foundjob.ru</a><br/>
        Ваш логин: <span style="color: #66b5f1;">{{ address }}</span>
    </p>
{% endblock %}

{% block content-mail %}
    1.&nbsp;&nbsp;Заполните описание компании в личном кабинете и загрузите логотип<br/>
    2.&nbsp;&nbsp;Разместите актуальные вакансии<br/>
    3.&nbsp;&nbsp;Создайте подборку кандидатов и приглашайте на собеседование прямо на сайте
{% endblock %}
