{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1;">
        Вы подали заявку на регистрацию компании на сайте Foundjob.ru<br/>
    </p>
    <p style="padding: 10px 0px; background: #f4f8ff; font-size:18px;">
        Ваш логин: <span style="color:#66b5f1;">{{ address }}</span><br/>
        Ваш пароль: <span style="color:#66b5f1;">{{ password }}</span>
    </p>
{% endblock %}

{% block content-mail %}
    {% if private_key %}
        <div align="center" style="margin-top: 35px;">
            <a style="background-color:#3FC59D; padding: 12px; color:white; font-size:12px; font-weight:bold; border:none; cursor:pointer;" href="{{ domain }}{% url 'confirm' private_key %}" target="_blank">Подтвердить e-mail адрес</a>
        </div>
        <p style="margin-top: 35px; margin-left: 0;">
            или перейдите по ссылке:<br>
            <a href="{{ domain }}{% url 'confirm' private_key %}" target="_blank">{{ domain }}{% url 'confirm' private_key %}</a>
        </p>
    {% endif %}
    {% if manual_manager_confirm %}
        <div align="center" style="margin-top: 35px;">
            <span>Менеджеры компании просмотрят вашу заявку и после этого вы сможете продолжить пользоваться сайтом.</span>
        </div>
    {% endif %}
{% endblock %}
