{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px;">Вам предоставили доступ к профилю компании {{ company }}</p>
{% endblock %}

{% block content-mail %}
    Чтобы создать пароль для профиля, перейдите по ссылке ниже:<br/>
    <a href="{{ domain }}{% url 'employer-registration-confurm' private_key %}">{{ domain }}{% url 'employer-registration-confurm' private_key %}</a>.
{% endblock %}
