{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1; text-align:center;">Вы зарегистрированы как пользователь сайта <a href="{{ domain }}{% url 'index' %}">Foundjob.ru</a>.</p>
{% endblock %}

{% block content-mail %}
    <p style="padding: 10px 0px; background: #f4f8ff; font-size:18px;">Ваши данные для входа в систему:<br/>
    Логин: <span  style="color:#66b5f1;">{{ address }}</span><br/>
    Пароль: <span  style="color:#66b5f1;">{{ password }}</span><br/>
    Ссылка для входа на сайт: <a href="{{ domain }}{% url 'login' %}" style="color:#66b5f1;">{{ domain }}{% url 'login' %}</a></p>
{% endblock %}
