{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px;">Соискатель дал ответ на отклик, который Вы сделали к резюме <a href="{{ domain }}{% url 'resume' response.resume.id %}">{{ response.resume.position }}</a>.</p>
{% endblock %}

{% block content-mail %}
    Просмотреть все отклики Вы можете, перейдя по ссылке ниже:<br/>
<a href="{{ domain }}{% url 'applicant-responses' %}">{{ domain }}{% url 'applicant-responses' %}</a>.
{% endblock %}
