{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px;">Ваш отклик на резюме <a href="{{ domain }}{% url 'resume' response.resume.id %}">{{ response.resume.position }}</a>, размещенную на сайте "<a href="{{ domain }}{% url 'index' %}">Foundjob.ru</a>", был отклонён.</p>
{% endblock %}

{% block content-mail %}
    Просмотреть все отклики на сайте вы можете перейдя по следующей ссылке:<br/>
<a href="{{ domain }}{% url 'employer-responses' %}">{{ domain }}{% url 'employer-responses' %}</a>.
{% endblock %}
