{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title-mail %}
    <p style="font-size:18px;">На Вашу вакансию "<a href="{{ domain }}{% url 'vacancy' response.vacancy.id %}">{{ response.vacancy.position }}</a>", размещенную на сайте <a href="{{ domain }}{% url 'index' %}">Foundjob.ru</a>, откликнулись.</p>
{% endblock %}

{% block content-mail %}
    Просмотреть все отклики на сайте и дать свой ответ Вы можете, перейдя по следующей ссылке:<br/>
    <a href="{{ domain }}{% url 'employer-responses' %}">{{ domain }}{% url 'employer-responses' %}</a>.
{% endblock %}
