{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px;">На вашу вакансию "<a href="{{ domain }}{% url 'vacancy' vac.id %}">{{ vac.position }}</a>", размещённую сайте <a href="{{ domain }}{% url 'index' %}">Foundjob.ru</a>, пришёл отклик от незарегистрированного пользователя.</p>
{% endblock %}

{% block content-mail %}
    Информация об откликнувшемся:<br/>
    Имя: <span style="color: #66b5f1">{{ sender_name }}</span><br/>
    Телефон: <span style="color: #66b5f1">{{ sender_phone }}</span><br/>
    E-mail: <a href="mailto:{{ sender_email }}">{{ sender_email }}</a><br/>
    Комментарий:<br/>{{ sender_comment }}
{% endblock %}
