{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1; text-align:center;">Ваша компания зарегистрирована на сайте Foundjob.ru</p>
{% endblock %}

{% block content-mail %}
    На данный момент у Вас нет актуальных вакансий на сайте.<br>
    Чтобы приступить к поиску сотрудников, перейдите по ссылке <a href="{{ domain }}{% url 'add-vacancy' %}">Foundjob.ru</a> в личный кабинет и разместите вакансию.<br>
    Напоминаем, размещение вакансий в неограниченном количестве на сайте Foundjob.ru - бесплатно.
{% endblock %}
