{% extends 'layouts/base_layout.html' %}
{% block title-mail %}
    <p style="font-size:18px;">Ваша вакансия была проверена модератором и опубликована на сайте <a href="{{ domain }}{% url 'index' %}" style="color:#66b5f1;">Foundjob.ru</a></p>
{% endblock %}
