{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block content-mail %}
    Размещенная Вами вакансия "<a href="{{ domain }}{% url 'edit-vacancy' vacancy.id %}">{{ vacancy.position }}</a>" не прошла модерацию и не может быть опубликована на сайте <a href="{{ domain }}{% url 'index' %}">Foundjob.ru</a><br/>
    {{ text|safe }}
{% endblock %}
