{% load static %}
<html>
<head>
    <title>Письмо от Foundjob.ru</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

<style>
table {border: 1px solid #dadada; background: #ffffff; padding: 15px 0px; cellpadding: 0; cellspacing: 0; color: #6b7589; font-size: 16px;}
td {border: 0; padding: 10px 40px 0px;}
body {font-family: Arial;}
a {color: #66b5f1;}
</style>

<table align="center" width="600">
    <tr>
        <td colspan="3" valign="center" style="padding-top: 45px; padding-bottom: 25px; font-size:24px; color:#66b5f1; text-align:center;">Здравствуйте!</td>
    </tr>
    <tr>
        <td colspan="3">
            {% block title-mail %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-bottom: 40px; border-bottom:1px solid #ebebeb;">
            {% block content-mail %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <span style="color:#66b5f1; font-size:18px;">Если у Вас возникли вопросы, обратитесь в службу поддержки:</span><br />
            Телефон горячей линии:&nbsp;<span style="color:#66b5f1;">8&nbsp;800&nbsp;700&nbsp;38&nbsp;20</span><br />
            skype:&nbsp;<span style="color:#66b5f1;">foundjob</span><br />
            icq:&nbsp;<span style="color:#66b5f1;">672086748</span><br />
            e-mail:&nbsp;<a href="mailto:support@foundjob.ru">support@foundjob.ru</a>
        </td> 
    </tr>
    <tr>
        <td style="padding: 20px 0px 30px 40px;">
            <a href="{{ domain }}{% url 'search-vacancy' %}"><img src="{{ domain }}{% static 'img/new-mail/vacancy-button.png' %}" alt="все вакансии"/></a>
        </td>
        <td style="padding: 20px 0px 30px;">
            <a href="{{ domain }}{% url 'search-resume' %}"><img src="{{ domain }}{% static 'img/new-mail/resume-button.png' %}" alt="все резюме"/></a>
        </td>
        <td style="padding: 20px 40px 30px 20px;">
            <a href="{{ domain }}{% url 'index' %}"><img src="{{ domain }}{% static 'img/new-mail/logo-main.jpg' %}" alt="логотип"/></a>
        </td>
    </tr>
</table>
<p align="center" style="font-size: 10px; text-align: center;">Вы получили это письмо на адрес {{ address }}, так как являетесь пользователем сайта <a href="{{ domain }}{% url 'index' %}">foundjob.ru</a></p>
{% if not mailing.is_system %}
    <p align="center"><a href="{{ domain }}{% url 'unsubscribe' user_id mailing.id hash %}" style="color:#807f7f">Отказаться от получения сообщений</a></p>
{% endif %}
</body>
</html>
