{% load static %}
<html>
<head>
    <title>Письмо от Foundjob.ru</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

<style>
table {border:1px solid #dadada; background:#ffffff; padding: 15px 0px; cellpadding:0; cellspacing:0; color:#6b7589; font-size: 16px;}
td {border:0; padding: 10px 40px 0px;}
body {font-family:Arial;}
</style>

<table align="center" width="600">
    <tr>
        <td colspan="3" valign="center" style="padding-top: 45px; padding-bottom: 25px; font-size:24px; color:#66b5f1; text-align:center;">
            {% block title-mail %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-bottom: 40px; border-bottom:1px solid #ebebeb;">
            {% block content-mail %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block admin-link %}{% endblock %}
        </td>
    </tr>
</table>
<p align="center" style="font-size: 10px; text-align: center;">Вы получили это письмо, так как являетесь модератором сайта <a href="{{ domain }}">{{ domain }}</a></p>
</body>
</html>
