{% extends 'layouts/base_layout.html' %}

{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1;">
        Вы отправили нам запрос на восстановление пароля вашей учётной записи на сайте <a href="{{ domain }}">{{ domain }}</a>!
    </p>
{% endblock %}

{% block content-mail %}
    Для восстановления пароля перейдите по следующей ссылке:
    <a href="{{ domain }}/auth/recovery/{{ private_key }}">{{ domain }}/auth/resetpassword/{{ private_key }}/</a>
{% endblock %}
