{% extends 'layouts/base_layout.html' %}
{% block title-mail %}
    <p style="font-size:18px; color:#66b5f1;">
        Пользователь сайта Foundjob.ru {{ name }} поделился ссылкой на вакансию "<a href="{{ domain }}{% url 'vacancy' vacancy.id %}">{{ vacancy.position }}</a>"
    </p>
{% endblock %}

{% block content-mail %}
Перейдите по ссылке, чтобы увидеть эту вакансию:<br/>
<a href="{{ domain }}{% url 'vacancy' vacancy.id %}">{{ domain }}{% url 'vacancy' vacancy.id %}</a>
{% endblock %}
